<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue.js v2.x Learning</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}
        <br>
        <span v-bind:title="tip">
            This is great!
        </span>
        <br>
        <ul>
            <li v-for="alp in alphabets">{{ alp }}</li>
        </ul>

        <span v-if="toggle">Show or Hide</span>
        <br>
        <button v-on:click="onToggle">Toggle</button>
        <br>
        <div>
            <p>Hi {{ name }}</p>
            <input type="text" v-model="name">
        </div>
    </div>
    <script src="App.js"></script>
</body>
</html>