<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue.js v2.x Learning</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}
        <br>
        <span v-bind:title="tip">
            This is great!
        </span>
        <br>
        <span v-if="toggle">Show or Hide</span>
        <ul>
            <li v-for="alp in alphabets">{{ alp }}</li>
        </ul>
    </div>
    <script src="App.js"></script>
</body>
</html>